{% extends "layout.html" %}

{% block title %}
{{book_id[0]['title']}}
{% endblock %}

{% block content %}
<div class="container text-center mt-4">
    <div class="row container mt-3">
        <div class="col-4">
            <img src="http://covers.openlibrary.org/b/isbn/{{book_info[0]['isbn']}}-M.jpg" width="150px">
        </div>
        <div class="col-4">
            <h1>{{book_info[0]['title']}}</h1>
            <h5>Author: {{book_info[0]['author']}}</h5>
            <h5>Published: {{book_info[0]['year']}}</h5>
            <h5>ISBN: {{book_info[0]['isbn']}}</h5>
        </div>
        <div class="col-4">
            <h5>Description:</h5>
            <p class="text-center">{{description}}</p>
            <p><b>Categories:</b> {{categories}}</h6>
            <h5>Average and number of people who rated this book on the Google Books API</h5>
            <p><b>Rating:</b> {{rated}} points</p>
            <p><b>Rating counts:</b> {{count}}</p>
        </div>
    </div>
</div>
<div class="dropdown-divider mt-4"></div>
    <h4 class="table_xd text-white">Comments</h4>
<div>
    <form method="POST" class="form-border">
        <div class="form-row">
            <div class="form-group form col-5">
                <label for="rating">Rate this book</label>
                <select id="rating" name="rating" class="form-control" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="form-group col-7">
                <div class="input-group">
                    <div class="form-group col-5">
                        <p>Make a comment here</p>
                        <input autocomplete="off" autofocus class="form-control" name="comment" placeholder="I love this book!" type="text">
                    </div>
                    <div class="form-group col-2">
                        <button class="btn btn_color" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<section class="container">
    {% for r in rate %}
    <div class="list-group">
        <div class="d-flex w-100 justify-content-between row">
            <h6 class="mb-1" style="color:#1777; font-size: 30px;">{{r.username}}</h6>
            <small>At {{r.time}}</small>
        </div>
        <p class="mb-1"><b>Comment:</b> {{r.comment}}</p>
        <small><b>Rated:</b> {{r.rating}}</small>
    </div>
    {% endfor %}
</section>
{% endblock %}
