
{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block content %}
<section class="container text-center fondo">
    <div class="xd">
        <h1>Hi {{name}}, what book are you looking for?</h1>
        <form action="{{url_for('search')}}" method="post">     
                <input class="form-control" name="search" placeholder="ISBN, Title or Author">
                <div class="">
                    <button class="btn btn_color mt-5" id="search-btn">SEARCH</button>
                </div>
        </form>
    </div>
    <div class="table-responsive mt-5">
        {% if books %}
        <table class="table table_xd">
            <thead>
                <tr>
                    <th scope="col">ISBN</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Year</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <span class="align-middle">
                        <td><a href="/book/{{book['isbn']}}">{{book.isbn}}</a></td>
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.year}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</section>

{% endblock %}
