{% extends "layout.html" %}

{% block title %}
register
{% endblock %}

{% block content %}
<form action="/register" method="post">
    <div class="form-group">
        <p>Ingrese Usuario</p>
        <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" />
    </div>
    <div class="form-group">
        <p>Ingrese una contraseña</p>
        <input class="form-control" min="4" name="password" placeholder="Password (4 characters min)" type="password" />
    </div>
    <div class="form-group">
        <input class="form-control" min="4" name="confirmation" placeholder="Pass confirmation" type="password" />
    </div>
    <button class="btn btn-primary" type="submit">Register Now</button>
</form>
{% endblock %}
